<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>Demo</title>
</head>


<body>
    <div id="app">
        <el-form ref="form" :model="productVo" label-width="100px" style="float:left" :inline="true" class="demo-form-inline">
            <el-form-item label="商品名称">
                <el-input v-model="productVo.productName" style="width: 150px;"></el-input>
            </el-form-item>
            <el-form-item label="商品编号">
                <el-input v-model="productVo.productCode" style="width: 150px;"></el-input>
            </el-form-item>
            <el-form-item label="商品价格">
                <el-input v-model="productVo.price" style="width: 150px;"></el-input>
            </el-form-item>
            <el-form-item label="商品状态">
                <el-select v-model="productVo.status" placeholder="请选择">
                    <el-option v-for="item in statusList" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="商品库存量">
                <el-input v-model="productVo.stockQuantity" style="width: 150px;"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="search">查询</el-button>
            </el-form-item>
        </el-form>
        <el-table :data="product" style="width: 100%">
            <el-table-column prop="productCode" label="编号">
            </el-table-column>
            <el-table-column prop="productName" label="商品名">
            </el-table-column>
            <el-table-column prop="price" label="价格">
            </el-table-column>
            <el-table-column prop="discount" label="折扣">
            </el-table-column>
            <el-table-column prop="stockQuantity" label="库存">
            </el-table-column>
            <el-table-column prop="status" label="状态">
            </el-table-column>
            <el-table-column prop="mainPicUrl" label="主图">
            </el-table-column>
        </el-table>
        <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"
            @current-change="currentchange"></el-pagination>
    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/productSearch.js"></script>

</body>

</html>