<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhang.jcartstoreback.dao.ProductDetailMapper">
  <resultMap id="BaseResultMap" type="com.liuhang.jcartstoreback.po.ProductDetail">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="other_pic_urls" jdbcType="VARCHAR" property="otherPicUrls" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.liuhang.jcartstoreback.po.ProductDetail">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>

  <resultMap id="ProductListOutDTO" type="com.liuhang.jcartstoreback.dto.out.ProductListOutDTO">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="main_pic_url" jdbcType="VARCHAR" property="mainPicUrl" />
    <result column="product_abstract" jdbcType="VARCHAR" property="productAbstract" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, product_code, product_name, price, discount,
    main_pic_url, product_abstract
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jcart_product_detail
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jcart_product_detail
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuhang.jcartstoreback.po.ProductDetail">
    insert into jcart_product_detail (product_id, other_pic_urls, description
      )
    values (#{productId,jdbcType=INTEGER}, #{otherPicUrls,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liuhang.jcartstoreback.po.ProductDetail">
    insert into jcart_product_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="otherPicUrls != null">
        other_pic_urls,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="otherPicUrls != null">
        #{otherPicUrls,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuhang.jcartstoreback.po.ProductDetail">
    update jcart_product_detail
    <set>
      <if test="otherPicUrls != null">
        other_pic_urls = #{otherPicUrls,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.liuhang.jcartstoreback.po.ProductDetail">
    update jcart_product_detail
    set other_pic_urls = #{otherPicUrls,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuhang.jcartstoreback.po.ProductDetail">
    update jcart_product_detail
    set other_pic_urls = #{otherPicUrls,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>

  <select id="search" resultMap="ProductListOutDTO" parameterType="com.liuhang.jcartstoreback.dto.in.ProductSearchInDTO">
    select
    <include refid="Base_Column_List" />
    from jcart_product where 1=1

    <if test="keyword!=null and keyword!=''">
      and product_name like '%${productName}%'
    </if>

  </select>
</mapper>